$font-landing: "Montserrat", sans-serif;
$primary-color-landing: #f3bf14;
$secondary-color-landing: #dbe1e8;
$strong-font-color: #000;
$hover-color: #e0a60a;
$font-on-hover-color: #fff;
// #272727
$weak-font-color: #757575;
$font-size: 1.2vw;
$subtitle-font-size: 1.8vw;

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the value for the desired floating effect */
  }
  100% {
    transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $font-landing;
  font-size: $font-size;
  font-weight: 300;
  background-color: #fff;
  color: $strong-font-color;
}

.landingPage {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .topSection {
    // box-shadow: inset 4px -4px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 125vh;
    
    padding: 5vh 15vw 0 15vw;
    margin-bottom: 2vh;;
    color: $weak-font-color;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    grid-template-rows: 1fr 1rf;
    // grid-template-areas:
    //   ". . . . ."
    //   ". familyimg-start familyimg-start . ."
    //   ". bluecircle-start bluecircle-start . ."
    //   ". familyimg-end jar info info"
    //   ". . . bluecircle-end bluecircle-end ";
    grid-template-areas:
    "familyimg-start familyimg-start .  "
    "familyimg-end jar info ";
    
  
    .familyimg-start, .familyimg-end, .jar, .info {
      height: 100%; /* Ensure grid items respect their row height */
      overflow: hidden; /* Prevent content from pushing the rows */
  }
    .family {
   
      width: 100%;
      height: 100%;
      max-width: 50vw;
      max-height: 50vw;
      z-index: 1;
      grid-column: familyimg-start/middle-start;
      grid-row: familyimg-start/familyimg-end;
    }
    .familyimg {
      width: 100%;
      height: 100%;
      border-radius: 50%;
   
      
    }
    // .blueCirclediv {
    //   grid-column: middle-start/bluecircle-start;
    //   grid-row: bluecircle-start/bluecircle-row;
    //   overflow-x: hidden;
    //   width: 60vw;
    //   height: 60vw;
    //   border-radius: 50%;
    //   z-index: 0;
    //   background-color: $secondary-color-landing;
    // }
    // .blueCircle {
    //   width: 100%;
    //   height: 100%;
    //   border-radius: 50%;
   
      
    // }

    .jar {
      // width: 18vw;
      // height: 25vw;
      width: 100%;
      height: auto;
      z-index: 2;
      grid-area: jar;
      animation: float 3s ease-in-out infinite;
      justify-self: center;  /* Centers the item horizontally within the column */
      align-self: flex-end;
      margin-bottom: 12vh;
    }
    // .information {
    //   height: 100px;
    //   width: 78%;
    //   grid-area: info;
    //   z-index: 3;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: flex-start;
    //   align-items: flex-start;
     
    // }
    .landingTitleSection{
      // height: 70%;
      max-height:65vh;
      width: 100%;
      grid-area: info;
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      margin-bottom: 4vh;
      // justify-content: flex-end;
      // align-items: flex-end;
    
      // padding: 5vh 0;
    }
    // .grayArea{
    //   height: 100%;
    //   max-height:65vh;
    //   width: 100%;
    //   ;
    //   z-index: 3;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: flex-start;
    //   align-items: flex-start;
    //   border-radius: 20%;
    //   background-color: $secondary-color-landing;
    //   padding: 5vh;
    // }
    .landingTopTitle {
      z-index: 2;
      margin: 0 0 5vh 0;
      font-size: 10vw;
      line-height: 9vw;
      font-weight: 700;
      color: $primary-color-landing;
      text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
    }
    .landingTopSubTitle {
      z-index: 2;
      margin: 0;
      font-size: $subtitle-font-size;
    }
    .landingTopPhrase {
      z-index: 2;
      margin: 0;
      font-weight: 300;
      font-size: $subtitle-font-size;
      color: $strong-font-color;
    }
    .loginButton {
      margin-top: 1vw;
      font-size: 1.5vw;
      max-height: 4vw;
      width: 15vw;
      font-family: $font;
      font-weight: 500;
    
      padding: 1vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      border: none;
      background-color: $primary-color-landing;
      color: $strong-font-color;
      text-align: center;
      transition: all 0.3s ease;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: $hover-color;
        color: $font-on-hover-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
      }
    }
  }
  .paragraph {
    color: $strong-font-color;
    font-size: $font-size;
    font-weight: 300;
  }
  .title {
    color: $primary-color-landing;
    font-size: 6vw;
    font-weight: 700;
    margin: 0;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
  }

  .darktitle {
    color: $strong-font-color;
    font-size: 4.5vw;
    font-weight: 700;
    margin: 0;

  }
  .smallerTitle {
    color: $primary-color-landing;
    font-size: 4vw;
    font-weight: 700;
    margin: 0;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
  }
  .subTitle {
    color: $strong-font-color;
    font-size: $subtitle-font-size;
    font-weight: 600;
    
  }
  .how {
    padding: 5vw 0;
    display: flex;
    flex-direction: row;
    background-color: $secondary-color-landing;
    width: 100%;
    // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    .budgeting {
      width: 50vh;
      height: 50vh;
      z-index: 1;
    }
    .howInfo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 90%;
      margin: auto;
      .paragraph {
        margin: 5px;
      }
    }
  }
  .steps {
    padding: 7vh 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 2vh;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    .step {
      display: flex;
      flex-direction: column;
      font-size: $font-size;
    }
  }
  .middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .eighty {
    width: 80%;
    margin: auto;
  }
  .caveats {
 
    padding: 7vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: $font-size;
    .styledList {
      padding: 0;
      margin: 0;
      font-size: $font-size;
      .listItem {
        font-weight: 300;
        font-size: $font-size;
        margin-bottom: 20px;
        .listTitle {
          font-weight: 500;
          font-size: 1.3em;
          color: #757575;
        }
      }
    }
  }
  .patience {
    padding: 7vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    .listOfThings {
      padding: 3vh;
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, auto);
      gap: 2vh;
      .things {
        width: 30vh;
        height: 30vh;
        margin: 0 auto;
        object-fit: cover;
      }
    }
  }
  .final {
    padding: 7vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color-landing;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    .paragraph {
      width: 50%;
      font-size: $font-size;
    }
    .loginButton {
      font-size: 1.5vw;
      font-family: $font;
      font-weight: 500;
      max-height: 4vw;
      width: 15vw;
      padding: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      border: none;
      background-color: $primary-color-landing;
      color: $strong-font-color;
      text-align: center;
      transition: all 0.3s ease;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: $hover-color;
        color: $font-on-hover-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 1000px) {
  .steps {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 20px;
    .step {
      min-width: 45%;
      // max-width: 600px;
    }
    .paragraph {
      font-size: 2vw;
    }
  }
  .caveats {
    width: 80% !important;
    font-size: 2.4vw !important;
    .styledList {
      .listItem {
        font-size: 2.2vw !important;
        .listTitle {
          font-size: 2.4vw !important;
        }
      }
    }
  }
  .landingPage {
    .darktitle {
      font-size: 5vw !important;
    }
    .landingTopPhrase {
      font-size: 2.2vw !important;
    }
  }
  .smallerTitle {
    font-size: 3.5vw !important;
  }
  .final {
    .paragraph {
      font-size: 2.2vw !important;
    }
  }

  .subTitle {
    font-size: 3vw !important;
  }
}
@media (max-width: 600px) {
  .landingPage {
    .topSection {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 0 15px;

      .family {
        width: 150vw;
        height: 150vw;
        margin-left: -25%;
        margin-top: -30%;
        overflow: hidden;
        object-fit: cover;
      }

      .blueCircle {
        display: none;
      }

      .jar {
        margin-left: 55%;
        margin-top: 38vw;
        width: 40vw;
        height: 50vw;
        z-index: 4;
      }

      .landingTopTitle {
        font-size: 22vw;
        line-height: 20vw;
        margin-bottom: 15px;
      }

      .landingTopSubTitle {
        font-size: 4vw;
        margin-bottom: 5px;
      }

      .landingTopPhrase {
        font-size: 3.5vw;
        margin-bottom: 5px;
      }
    }

    .middle {
      flex-direction: column;
    }
    .darktitle {
      font-size: 9vw;
    }
    .how {
      .howInfo {
        width: 80%;
      }

      .budgeting {
        margin-top: 3vw;
        width: 50vw;
        height: 50vw;
      }
    }
    .steps {
      display: flex;
      flex-direction: column;
      .step {
        .title {
          font-size: 12vw;
        }
      }
    }

    .subTitle {
      font-size: 4vw;
    }
    .paragraph {
      font-size: 3.5vw;
    }
    .caveats {
      width: 80%;
      font-size: 3.5vw;
      .styledList {
        .listItem {
          font-size: 3.5vw;
          .listTitle {
            font-size: 3.8vw;
          }
        }
      }
    }
    .patience {
      .listOfThings {
        padding: 0;

        .things {
          width: 40vw;
          height: 40vw;
        }
      }

      .patienceInfo {
        width: 80%;
      }
    }
    .smallerTitle {
      font-size: 10vw;
    }
    .final {
      .loginButton {
        font-size: 3vw;
      }
      .paragraph {
        width: 80%;
        font-size: 3.5vw;
      }
    }
  }
}
