.movement {
  display: flex;
  padding: 0.2em;
  // height: 9vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color:  #041f29 !important;
  // border-radius: $boxRadius;
  // background-color: $accent-color;
  // margin-bottom: 2.5vw;

  .movement_column {
    width: 19%;
    font-size: 2.5vw;
    padding: 0.5em;
    font-weight: 300;
    
  }
  .movement_actions_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;

    .movement_actions {
      width: 2.5vw;
      height: 2.5vw;
    }
  }
  .movement_column_jars {
    width: 38%;
    font-size: 2.5vw;
    margin: 0;
    padding: 0.5em;
    display: flexbox;
    font-weight: 300;
  }
  .movement_column_concept {
    width: 22%;
font-size: 2.5vw;
    padding: 0.5em;
    font-weight: 300;
  }
}

@media (min-width: 750px) {
  .movement {
    padding:0.5em;
    font-size: 1.5vw;
    // height: 3vw;
    // margin-bottom: 1.5vw;

    .movement_column {
      width: 15%;
      font-size: 1.5vw;
      // font-size: 1.5vh;
      // padding: 1vw;
    }

    .movement_column_jars {
      width: 60%;
      font-size: 1.5vw;
      // font-size: 1.5vh;
      // padding: 1vw;
      overflow: hidden;
    }

    .movement_column_concept {
      // font-size: 1.5vh;
      // padding: 1vw;
      overflow: hidden;
      font-size: 1.5vw;
    }

    .movement_actions_container {
      .movement_actions {
        width: 1.5vw;
        height: 1.5vw;
      }
    }
  }
  @media (min-width: 1000px) {
    // .movement {
    //   .movement_column {
    //     // font-size: 2vh;
    //   }
    //   .movement_column_jars {
    //     // font-size: 2vh;
    //   }
    //   .movement_column_concept {
    //     // font-size: 2vh;
    //   }
    // }
  }
}
