.movement_history {
  height: 100%;
  width: 85%;
  overflow: scroll;
  border-radius:20px;
 
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    li:nth-child(even) .movement {
      background-color: $even-background-color; 
    }
    li:nth-child(odd) .movement {
      background-color: $odd-background-color; 
    }
  }
}

@media (min-width: 750px) {
  .movement_history {
    width: 45%;
    margin-top: 2vw;
  }
}
