.navigation_bar {
  height: 2.5em;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
  padding: 1.6em 0;
  align-items: center;
  color: $base-color!important;
  font-weight: 100 !important;


  .nav_icon {
    width: 0.8em;
    height: 0.8em;
  }
  .simple_label {
    font-size: 0.8em;
    font-weight: 100;
  }
  .login_logout_buttons {
    font-size: 0.8em;
    border: none;
    padding: 0.8em;
    border-radius: 10px;
    color: $base-color;
    background-color: rgb(153, 189, 200);
    color: $base-color!important;
    font-weight: 100 !important;
  }
}
