.navigation_bar {
  height: 2em;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
  padding: 1em 0;
  align-items: center;
  color: $base-color !important;
  font-weight: 100 !important;
  @media (max-width: 750px) {
    height: 3vw;
    font-size: 3vw;
    padding: 2em 0;
    justify-content: space-between;
   
  }

  .nav_icon {
    width: 0.8em;
    height: 0.8em;
  }
  .simple_label {
    font-size: 1vw;
    font-weight: 100;
    @media (max-width: 750px) {
      font-size: 3vw;
    }
  }
  .login_logout_buttons {
    font-size: 1vw;
    border: none;
    background-color: transparent;
    color:  rgb(153, 189, 200);
    font-weight: 300 !important;
    @media (max-width: 750px) {
      font-size: 3vw;
    }
  }
}
