$font: "Montserrat", sans-serif;
$base-color: #073b4c;
// $accent-color-1: #06d6a0;
// $accent-color-2: #ef476f;
$accent-color: #89b7c7;
$background-color: #ffff;
$even-background-color:   rgba(227, 240, 245, 0.8);
$odd-background-color: rgb(153, 189, 200);

$boxRadius: 10px;
$standardMargin: 4vw;
$insideContainerSize: 85%;
